.MoviePoster {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.MoviePoster img {
  width: 100%;
  height: auto;
}

.vote-count {
  background-color: white;
  color: black;
  padding: 10px 0;
  font-weight: bold;
}

.vote-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}